body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
}

.header p {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    margin: 0px;

}

.header ul {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.hero-text {
    width: 450px;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0px;
}

.hero-text button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
}

.hero-img img {
    height: 300px;
    width: 500px;
}

.information {
    margin: 40px auto 100px;
}

.information h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.space-images {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.space-image-container {
    width: 200px;
    text-align: center;
}

.space-image-container p {
    color: #808080;
    font-size: 22px;
    margin: 10px auto 0px;
}

.space-image {
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

.quote {
    background-color: #e5e7eb;
    padding: 80px 0px 80px;
}

.blue-container {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 100px auto;
    padding: 60px 120px;
    border-radius: 8px;
}

.blue-container button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    padding: 5px 40px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
}

.footer p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
    padding: 40px 0px;
}

#quote-body {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 800px;
    margin: auto;
}

#quote-sig {
    font-weight: bold;
    font-size: 24px;
    width: 800px;
    margin: auto;
    text-align: end;
}

#call-header {
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

#call-content {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0px;
}