* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.hero {
    background-color: #1f2937;
    padding: 30px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > p {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}